---
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { ScrollArea } from "@/components/ui/scroll-area";
// import FilterList from "@/components/FilterList";
---

<div class="w-64 bg-white rounded-lg shadow-lg">
  <div class="p-2">
    <Input type="text" placeholder="Filter by..." className="w-full" />
  </div>
  <ScrollArea className="h-64">
    <!-- <FilterList client:load /> -->
  </ScrollArea>
  <div class="p-2 border-t">
    <Button variant="ghost" className="w-full justify-start">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
      </svg>
      Add advanced filter
    </Button>
  </div>
  </div>
</div>