---
---

it just scittle. I can defer all the lib to client side.
<!-- or I can import something like react? don't know how  -->

<script is:inline src="https://cdn.jsdelivr.net/npm/scittle@0.6.17/dist/scittle.js" type="application/javascript"></script>
<script is:inline src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script is:inline src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/scittle@0.6.17/dist/scittle.reagent.js" type="application/javascript"></script>
<script is:inline src="https://unpkg.com/vega@5.25.0"></script>
<script is:inline src="https://unpkg.com/vega-lite@5.16.3"></script>
<script is:inline src="https://unpkg.com/vega-embed@6.22.2"></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>
<script is:inline src="/cljs/scittle.cljs" type="application/x-scittle"></script>

<div id="app"></div>