---
import { Image } from 'astro:assets';

interface Props {
  title: string;
  cover: ImageMetadata;
  previews: ImageMetadata[];
}

const { title, cover, previews } = Astro.props;
---

<div class="group relative overflow-visible rounded-xl shadow-lg hover:shadow-xl transition-all duration-300 bg-white dark:bg-gray-700">
  <div class="relative w-full h-72 md:h-80 lg:h-96">
    <Image
      src={cover}
      alt={`${title} Cover`}
      width={600}
      height={600}
      class="w-full h-full object-cover rounded-t-xl"
    />
    <div class="absolute inset-0 transition-all duration-300 group-hover:scale-90 group-hover:-translate-x-4 group-hover:translate-y-4 group-hover:rotate-[-4deg]">
      {previews.map((preview, index) => (
        <Image
          src={preview}
          alt={`Preview ${index + 1}`}
          width={600}
          height={600}
          class={`absolute top-0 left-0 w-full h-full object-cover rounded-xl shadow-lg transform transition-all duration-300 origin-bottom-left
            ${index === 0 ? 'group-hover:translate-x-[10%] group-hover:-translate-y-[5%] group-hover:rotate-[2deg] group-hover:scale-95' :
              index === 1 ? 'group-hover:translate-x-[20%] group-hover:-translate-y-[10%] group-hover:rotate-[4deg] group-hover:scale-90' :
              index === 2 ? 'group-hover:translate-x-[30%] group-hover:-translate-y-[15%] group-hover:rotate-[6deg] group-hover:scale-85' :
              'group-hover:translate-x-[40%] group-hover:-translate-y-[20%] group-hover:rotate-[8deg] group-hover:scale-80'
            }`}
        />
      ))}
    </div>
  </div>
  <div class="absolute inset-x-0 bottom-0 bg-gradient-to-t from-black/70 to-transparent p-4 md:p-6 lg:p-8 rounded-b-xl">
    <h3 class="text-lg md:text-xl lg:text-2xl font-semibold text-white">{title}</h3>
  </div>
</div>
