---

---

<div id="progress-bar"></div>
<script>
  function updateProgressBar() {
    const { scrollTop, scrollHeight } = document.documentElement;
    const scrollPercent = `${(scrollTop / (scrollHeight - window.innerHeight)) * 100}%`;

    const element = document.querySelector("#progress-bar");
    if (element && element instanceof HTMLElement) {
      element.style.setProperty("--progress", scrollPercent);
    }
  }

  document.addEventListener("scroll", updateProgressBar);
</script>

<style>
  #progress-bar {
    --progress: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    width: var(--progress);
    background-color: #502020;
  }
</style>
